DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=leasing_db
DB_SSLMODE=disable

# Настройки сервера
SERVER_HOST=0.0.0.0
SERVER_PORT=8082

# Сгенерировать: openssl rand -base64 32
JWT_SECRET=change_me
